@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  p {
    @apply text-gray-800;
  }
  span {
    @apply text-gray-800;
  }
}

@layer components {
  .sidebar-link {
    @apply mr-3 w-8 h-8 fill-gray-800;
  }

  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }

  .scrollbar-styles {
    /* @apply scrollbar-none no-scrollbar scrollbar-thumb-slate-500 scrollbar-track-gray-100 active:scrollbar-thumb-slate-600; */
    @apply scrollbar-hide;
  }
  .input-error {
    @apply border-2 border-red-300 caret-red-400 focus:outline-none focus:border-red-500;
  }
  .gradient-border-example {
    @apply border-4 border-transparent border-solid border-gradient-br-light-green-white;
  }
}

body {
  -webkit-tap-highlight-color: transparent;
}

.row > div.green {
  /* green 600 */
  --background: rgb(22 163 74);
  --border-color: rgb(22 163 74);
  animation: flip 0.5s ease forwards;
}
.row > div.gray {
  /* gray 500 */
  --background: rgb(107 114 128);
  --border-color: rgb(107 114 128);
  animation: flip 0.6s ease forwards;
}
.row > div.yellow {
  /* yellow 500 */
  --background: rgb(234 179 8);
  --border-color: rgb(234 179 8);
  animation: flip 0.5s ease forwards;
}
.row > div:nth-child(2) {
  animation-delay: 0.2s;
}
.row > div:nth-child(3) {
  animation-delay: 0.4s;
}
.row > div:nth-child(4) {
  animation-delay: 0.6s;
}
.row > div:nth-child(5) {
  animation-delay: 0.8s;
}
.row > div:nth-child(6) {
  animation-delay: 1s;
}
.row > div:nth-child(7) {
  animation-delay: 1.2s;
}

/* keyframe animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: white;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}
